In [1]:
import tabula
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [4]:
# fazendo a leitura do pdf por inteiro

#dadosFvs = tabula.read_pdf('boletim-diario-de-casos-covid-19-10-06-2020.pdf',stream = True
#)
#dadosFvs[0]

In [24]:
#Lendo somente a planilha de casos contidas no pdf 
dados = tabula.read_pdf('boletim-diario-de-casos-covid-19-06-06-2020_HDR1txL.pdf', area=[90,10,600,600], pages ='1'
)

Got stderr: jun 16, 2020 4:00:51 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFORMAÇÕES: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored

In [25]:
dados[0]

,Unnamed: 0,Unnamed: 1,Notificados,Confirmados**,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,(casos por/100.000),Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Manaus,55.255,20.785,125.000,"42,61%","952,23",1.462,"7,03%","66,98",NaN
2,NaN,INTERIOR,51.960,28.000,276.000,"57,39%","1.427,24",770,"2,75%","39,25",NaN
3,NaN,01,Manacapuru,6.395,2.659,12,"5,45%","2.730,62",107,"4,02%","109,88"
4,NaN,02,São Gabriel da Cachoeira,2.636,2.280,23,"4,67%","5.003,95",27,"1,18%","59,26"
...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,58,Apuí,144.000,27.000,0,"0,06%","122,88",0,"0,00%","0,00"
61,NaN,59,Itamarati,35.000,4.000,0,"0,01%","50,95",0,"0,00%","0,00"
62,NaN,60,Envira***,11.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
63,NaN,61,Ipixuna***,18.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
64,NaN,TOTAL,107.215,48.785,401.000,100%,"1.177,07",2.232,"4,58%","53,85",NaN

In [26]:
#começando a limpeza do dataframe
#excluindo a coluna com valores nulos Unnamed: 0
dados = dados[0].drop(['Unnamed: 0'], axis = 1)
dados

,Unnamed: 1,Notificados,Confirmados**,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,(casos por/100.000),Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Manaus,55.255,20.785,125.000,"42,61%","952,23",1.462,"7,03%","66,98",NaN
2,INTERIOR,51.960,28.000,276.000,"57,39%","1.427,24",770,"2,75%","39,25",NaN
3,01,Manacapuru,6.395,2.659,12,"5,45%","2.730,62",107,"4,02%","109,88"
4,02,São Gabriel da Cachoeira,2.636,2.280,23,"4,67%","5.003,95",27,"1,18%","59,26"
...,...,...,...,...,...,...,...,...,...,...
60,58,Apuí,144.000,27.000,0,"0,06%","122,88",0,"0,00%","0,00"
61,59,Itamarati,35.000,4.000,0,"0,01%","50,95",0,"0,00%","0,00"
62,60,Envira***,11.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
63,61,Ipixuna***,18.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
64,TOTAL,107.215,48.785,401.000,100%,"1.177,07",2.232,"4,58%","53,85",NaN

In [27]:
temp = dados.loc[1:2]
temp

,Unnamed: 1,Notificados,Confirmados**,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,(casos por/100.000),Unnamed: 7
1,Manaus,55.255,20.785,125.0,"42,61%","952,23",1.462,"7,03%","66,98",NaN
2,INTERIOR,51.960,28.000,276.0,"57,39%","1.427,24",770,"2,75%","39,25",NaN

In [28]:
temp = temp.rename(columns ={'Unnamed: 1':'Municipios','Notificados':'Notificados','Confirmados**':'Confirmados',\
                            'Unnamed: 2':'Clinico Epidemiologico','Unnamed: 3':'% Participação por Municipio','Unnamed: 4':'Incidencia','Unnamed: 5':'Nº de Obitos',\
                            'Unnamed: 6':'Letalidade','(casos por/100.000)':'Mortalidade'})
temp

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade,Unnamed: 7
1,Manaus,55.255,20.785,125.0,"42,61%","952,23",1.462,"7,03%","66,98",NaN
2,INTERIOR,51.960,28.000,276.0,"57,39%","1.427,24",770,"2,75%","39,25",NaN

In [29]:
temp = temp.drop('Unnamed: 7', axis=1)
temp

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade
1,Manaus,55.255,20.785,125.0,"42,61%","952,23",1.462,"7,03%","66,98"
2,INTERIOR,51.960,28.000,276.0,"57,39%","1.427,24",770,"2,75%","39,25"

In [30]:
dados = dados.drop([0,1,2])
dados

,Unnamed: 1,Notificados,Confirmados**,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,(casos por/100.000),Unnamed: 7
3,01,Manacapuru,6.395,2.659,12,"5,45%","2.730,62",107,"4,02%","109,88"
4,02,São Gabriel da Cachoeira,2.636,2.280,23,"4,67%","5.003,95",27,"1,18%","59,26"
5,03,Tefé,2.612,2.226,60,"4,56%","3.719,36",60,"2,70%","100,25"
6,04,Coari,2.816,2.089,0,"4,28%","2.454,85",64,"3,06%","75,21"
7,05,Parintins,2.831,1.614,1,"3,31%","1.412,41",59,"3,66%","51,63"
...,...,...,...,...,...,...,...,...,...,...
60,58,Apuí,144.000,27.000,0,"0,06%","122,88",0,"0,00%","0,00"
61,59,Itamarati,35.000,4.000,0,"0,01%","50,95",0,"0,00%","0,00"
62,60,Envira***,11.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
63,61,Ipixuna***,18.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
64,TOTAL,107.215,48.785,401.000,100%,"1.177,07",2.232,"4,58%","53,85",NaN

In [31]:
dados = dados.drop('Unnamed: 1', axis = 1)
dados

,Notificados,Confirmados**,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,(casos por/100.000),Unnamed: 7
3,Manacapuru,6.395,2.659,12,"5,45%","2.730,62",107,"4,02%","109,88"
4,São Gabriel da Cachoeira,2.636,2.280,23,"4,67%","5.003,95",27,"1,18%","59,26"
5,Tefé,2.612,2.226,60,"4,56%","3.719,36",60,"2,70%","100,25"
6,Coari,2.816,2.089,0,"4,28%","2.454,85",64,"3,06%","75,21"
7,Parintins,2.831,1.614,1,"3,31%","1.412,41",59,"3,66%","51,63"
...,...,...,...,...,...,...,...,...,...
60,Apuí,144.000,27.000,0,"0,06%","122,88",0,"0,00%","0,00"
61,Itamarati,35.000,4.000,0,"0,01%","50,95",0,"0,00%","0,00"
62,Envira***,11.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
63,Ipixuna***,18.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
64,107.215,48.785,401.000,100%,"1.177,07",2.232,"4,58%","53,85",NaN

In [32]:
# renomeando as colunas 
dados = dados.rename(columns ={'Notificados':"Municipios",'Confirmados**':'Notificados','Unnamed: 2':'Confirmados','Unnamed: 3':'Clinico Epidemiologico','Unnamed: 4':'% Participação por Municipio','Unnamed: 5':'Incidencia','Unnamed: 6':'Nº de Obitos','(casos por/100.000)':'Letalidade','Unnamed: 7':'Mortalidade'})

dados

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade
3,Manacapuru,6.395,2.659,12,"5,45%","2.730,62",107,"4,02%","109,88"
4,São Gabriel da Cachoeira,2.636,2.280,23,"4,67%","5.003,95",27,"1,18%","59,26"
5,Tefé,2.612,2.226,60,"4,56%","3.719,36",60,"2,70%","100,25"
6,Coari,2.816,2.089,0,"4,28%","2.454,85",64,"3,06%","75,21"
7,Parintins,2.831,1.614,1,"3,31%","1.412,41",59,"3,66%","51,63"
...,...,...,...,...,...,...,...,...,...
60,Apuí,144.000,27.000,0,"0,06%","122,88",0,"0,00%","0,00"
61,Itamarati,35.000,4.000,0,"0,01%","50,95",0,"0,00%","0,00"
62,Envira***,11.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
63,Ipixuna***,18.000,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
64,107.215,48.785,401.000,100%,"1.177,07",2.232,"4,58%","53,85",NaN

In [33]:
dados = dados.append(temp)
dados = dados.sort_index()
dados

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade
1,Manaus,55.255,20.785,125,"42,61%","952,23",1.462,"7,03%","66,98"
2,INTERIOR,51.960,28.000,276,"57,39%","1.427,24",770,"2,75%","39,25"
3,Manacapuru,6.395,2.659,12,"5,45%","2.730,62",107,"4,02%","109,88"
4,São Gabriel da Cachoeira,2.636,2.280,23,"4,67%","5.003,95",27,"1,18%","59,26"
5,Tefé,2.612,2.226,60,"4,56%","3.719,36",60,"2,70%","100,25"
...,...,...,...,...,...,...,...,...,...
60,Apuí,144,27.000,0,"0,06%","122,88",0,"0,00%","0,00"
61,Itamarati,35,4.000,0,"0,01%","50,95",0,"0,00%","0,00"
62,Envira***,11,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
63,Ipixuna***,18,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
64,107.215,48.785,401.000,100%,"1.177,07",2.232,"4,58%","53,85",NaN

In [34]:
dados['DATA']= '06-06-2020'

In [35]:
dados['DATA']=pd.to_datetime(dados['DATA'])
dados

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade,DATA
1,Manaus,55.255,20.785,125,"42,61%","952,23",1.462,"7,03%","66,98",2020-06-06
2,INTERIOR,51.960,28.000,276,"57,39%","1.427,24",770,"2,75%","39,25",2020-06-06
3,Manacapuru,6.395,2.659,12,"5,45%","2.730,62",107,"4,02%","109,88",2020-06-06
4,São Gabriel da Cachoeira,2.636,2.280,23,"4,67%","5.003,95",27,"1,18%","59,26",2020-06-06
5,Tefé,2.612,2.226,60,"4,56%","3.719,36",60,"2,70%","100,25",2020-06-06
...,...,...,...,...,...,...,...,...,...,...
60,Apuí,144,27.000,0,"0,06%","122,88",0,"0,00%","0,00",2020-06-06
61,Itamarati,35,4.000,0,"0,01%","50,95",0,"0,00%","0,00",2020-06-06
62,Envira***,11,0.000,0,"0,00%","0,00",0,"0,00%","0,00",2020-06-06
63,Ipixuna***,18,0.000,0,"0,00%","0,00",0,"0,00%","0,00",2020-06-06
64,107.215,48.785,401.000,100%,"1.177,07",2.232,"4,58%","53,85",NaN,2020-06-06

In [36]:
dados.to_csv('df_fvs_bo_dia_0606.csv')

In [182]:
#Lendo somente a planilha de casos contidas no pdf 
df = tabula.read_pdf('boletim-diario-de-casos-covid-19-10-06-2020.pdf', area=[80,490,380,1800], pages ='1'
)
df[0]

,Unnamed: 0,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,ade,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
1,0.000),NaN,NaN,NaN
2,NaN,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,NaN,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,8,"TOTAL 360 213 59,17% 147","40,83%",469
5,6,NaN,NaN,EM UTI
6,5,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,4,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,6,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,1,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,6,"TOTAL 366 256 69,95% 110","30,05%",726
11,6,NaN,NaN,NaN
12,6,ÓBITOS,NaN,NaN
13,4,Confirmados,NaN,SRAG SUSPEITOS
14,0,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,NaN,Acumulado TOTAL,NaN,TOTAL
16,7,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,3,"2.920 2.363 4,47% 16 32 48 211",74,272 346
18,8,NaN,NaN,NaN
19,3,NOTA: Do total de 1615 casos cofirmados nas úl...,NaN,NaN
20,9,"foram detectados por Testes Rápidos, com data ...",NaN,NaN
21,2,NaN,NaN,NaN
22,6,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
23,9,horas e 32 óbitos em investigação que tiveram ...,NaN,NaN
24,2,NaN,NaN,NaN
25,2,NaN,NaN,NaN
26,8,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,6,Número TOTAL de sepultamentos por dia,NaN,40
28,1,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,4,Número TOTAL de cremações por dia,NaN,0
30,1,NaN,NaN,NaN
31,3,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,5,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,5,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,7,Alto Rio Negro 0 157 37,141,11 5
35,0,Alto Rio Solimões 8 448 178,79,345 23
36,NaN,Manaus 10 166 106,78,80 4
37,0,Médio Rio Purus 0 11 1,0,11 0
38,NaN,Médio Rio Solimões 0 84 45,44,34 6
39,1,Parintins 0 30 2,9,19 2
40,NaN,Vale do Javari 15 16 12,13,3 0
41,NaN,TOTAL 33 912 381,364,503 40

In [170]:
#Lendo somente a planilha de casos contidas no pdf 
df2 = tabula.read_pdf('boletim-diario-de-casos-covid-19-10-06-2020.pdf', area=[100,15,1500,1000], pages ='1'
)
df2[0]

      REDE  INTERNADOS  LEITO CLÍNICO       %  EM UTI     %.1
0  PRIVADA          84             31  36,90%      53  63,10%
1  PÚBLICA         276            182  65,94%      94  34,06%
2    TOTAL         360            213  59,17%     147  40,83%

In [183]:
df = df[0].drop('Unnamed: 0', axis = 1)
df

,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
1,NaN,NaN,NaN
2,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,"TOTAL 360 213 59,17% 147","40,83%",469
5,NaN,NaN,EM UTI
6,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,"TOTAL 366 256 69,95% 110","30,05%",726
11,NaN,NaN,NaN
12,ÓBITOS,NaN,NaN
13,Confirmados,NaN,SRAG SUSPEITOS
14,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,Acumulado TOTAL,NaN,TOTAL
16,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,"2.920 2.363 4,47% 16 32 48 211",74,272 346
18,NaN,NaN,NaN
19,NOTA: Do total de 1615 casos cofirmados nas úl...,NaN,NaN
20,"foram detectados por Testes Rápidos, com data ...",NaN,NaN
21,NaN,NaN,NaN
22,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
23,horas e 32 óbitos em investigação que tiveram ...,NaN,NaN
24,NaN,NaN,NaN
25,NaN,NaN,NaN
26,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,Número TOTAL de sepultamentos por dia,NaN,40
28,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,Número TOTAL de cremações por dia,NaN,0
30,NaN,NaN,NaN
31,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,Alto Rio Negro 0 157 37,141,11 5
35,Alto Rio Solimões 8 448 178,79,345 23
36,Manaus 10 166 106,78,80 4
37,Médio Rio Purus 0 11 1,0,11 0
38,Médio Rio Solimões 0 84 45,44,34 6
39,Parintins 0 30 2,9,19 2
40,Vale do Javari 15 16 12,13,3 0
41,TOTAL 33 912 381,364,503 40

In [184]:
df = df.drop([18,19,20,21])
df

,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
1,NaN,NaN,NaN
2,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,"TOTAL 360 213 59,17% 147","40,83%",469
5,NaN,NaN,EM UTI
6,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,"TOTAL 366 256 69,95% 110","30,05%",726
11,NaN,NaN,NaN
12,ÓBITOS,NaN,NaN
13,Confirmados,NaN,SRAG SUSPEITOS
14,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,Acumulado TOTAL,NaN,TOTAL
16,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,"2.920 2.363 4,47% 16 32 48 211",74,272 346
22,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
23,horas e 32 óbitos em investigação que tiveram ...,NaN,NaN
24,NaN,NaN,NaN
25,NaN,NaN,NaN
26,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,Número TOTAL de sepultamentos por dia,NaN,40
28,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,Número TOTAL de cremações por dia,NaN,0
30,NaN,NaN,NaN
31,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,Alto Rio Negro 0 157 37,141,11 5
35,Alto Rio Solimões 8 448 178,79,345 23
36,Manaus 10 166 106,78,80 4
37,Médio Rio Purus 0 11 1,0,11 0
38,Médio Rio Solimões 0 84 45,44,34 6
39,Parintins 0 30 2,9,19 2
40,Vale do Javari 15 16 12,13,3 0
41,TOTAL 33 912 381,364,503 40

In [185]:
df = df.drop([23,24,25,30])

In [186]:
df

,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
1,NaN,NaN,NaN
2,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,"TOTAL 360 213 59,17% 147","40,83%",469
5,NaN,NaN,EM UTI
6,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,"TOTAL 366 256 69,95% 110","30,05%",726
11,NaN,NaN,NaN
12,ÓBITOS,NaN,NaN
13,Confirmados,NaN,SRAG SUSPEITOS
14,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,Acumulado TOTAL,NaN,TOTAL
16,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,"2.920 2.363 4,47% 16 32 48 211",74,272 346
22,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
26,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,Número TOTAL de sepultamentos por dia,NaN,40
28,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,Número TOTAL de cremações por dia,NaN,0
31,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,Alto Rio Negro 0 157 37,141,11 5
35,Alto Rio Solimões 8 448 178,79,345 23
36,Manaus 10 166 106,78,80 4
37,Médio Rio Purus 0 11 1,0,11 0
38,Médio Rio Solimões 0 84 45,44,34 6
39,Parintins 0 30 2,9,19 2
40,Vale do Javari 15 16 12,13,3 0
41,TOTAL 33 912 381,364,503 40

In [187]:
df = df.drop([1])
df

,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
2,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,"TOTAL 360 213 59,17% 147","40,83%",469
5,NaN,NaN,EM UTI
6,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,"TOTAL 366 256 69,95% 110","30,05%",726
11,NaN,NaN,NaN
12,ÓBITOS,NaN,NaN
13,Confirmados,NaN,SRAG SUSPEITOS
14,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,Acumulado TOTAL,NaN,TOTAL
16,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,"2.920 2.363 4,47% 16 32 48 211",74,272 346
22,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
26,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,Número TOTAL de sepultamentos por dia,NaN,40
28,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,Número TOTAL de cremações por dia,NaN,0
31,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,Alto Rio Negro 0 157 37,141,11 5
35,Alto Rio Solimões 8 448 178,79,345 23
36,Manaus 10 166 106,78,80 4
37,Médio Rio Purus 0 11 1,0,11 0
38,Médio Rio Solimões 0 84 45,44,34 6
39,Parintins 0 30 2,9,19 2
40,Vale do Javari 15 16 12,13,3 0
41,TOTAL 33 912 381,364,503 40